:root {
    --color-text_logo: #4CAF50;
    --active-bg: #1f3d22;
    --sidebar-bg: #171717;
    --text-color: #e0e0e0;
    --header-color: #4CAF50;
    --divider-color: #333;
    --padding-sides: 25px;
}