
/* MMONITOR ULTRA WIDE */
@media (max-width: 2560px) {
    #subgroup-description,
    .carousel-container {
        height: 800px;
    }

    #subgroup-description,
    .carousel-slide {
        background-position: top;
    }

    .subgroup-logo {
        max-width: 350px;
    }
}

/* MONITOR FULL HD - 1080P */
@media (max-width: 1920px) {

}

/* MONITOR MEDIANO  - 720P */
@media (max-width: 1366px) {
    #subgroup-description,
    .carousel-container {
        height: 500px;
    }

    #subgroup-description,
    .carousel-slide {
        background-position: center;
    }

    #continue-episode-button, #episode-button {
        width: 228px;
    };
}

/* MONITOR PEQUENO - MOBILE */
@media (max-width: 768px) {

}